.appFooter img {
    width: 20px;
    height: 20px
}

.wechat-login>a>img {
    margin: -4px 53px;
    width: 170px;
    height: 35px;
}
.other-login {
    margin: 0 0 0 10px;
}
#theShare img {
    max-width: 42px;
    max-height: 42px;
    margin: 0 22%;
}

#theShare p {
    font-size: 16px;
    margin: 5px 0 0 0 ;
    text-align: center;
}