.appFooter img {
    width: 20px;
    height: 20px
}

.wechat-login > a > img {
    width: 100%;
    height: 100%;
}
.wechat-login {
    width: 170px;
    height: 35px;
    margin: 0 auto;
}

.other-login {
    width: 100%;
}

#theShare img {
    max-width: 42px;
    max-height: 42px;
    margin: 0 22%;
}

#theShare p {
    font-size: 16px;
    margin: 5px 0 0 0;
    text-align: center;
}


#shareit {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 20000;
}

#shareit img {
    position: fixed;
    right: 18px;
    top: 5px;
    width: 260px;
    height: 180px;
    z-index: 999;
}

